body {
    background-color: #4C3A51;
    margin: 0;
    font-size: 20px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    font-size: 20px;
    width: 85px;
    background-color: #B25068;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.scoreboard > ul > * {
    color: white;
}

.playerScore,
.computerScore {
    width: 150px;
}

.playerScore {
    text-align: right;
}

.winner {
    width: 250px;
    text-align: center;
}

.computerScore {
    text-align: left;
}